<li class="list-group-item">
  <%= link_to "Message ##{message.id}", message %>
  <%= link_to message, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <span class="glyphicon glyphicon-trash"></span>
  <% end %>
</li>
