<% if @messages.empty? %>
  <h1>There are no messages yet.</h1>
<% else %>
  <h1>All messages:</h1>

  <ul class="list-group">
    <%= render @messages %>
  </ul>
<% end %>

<%= link_to 'New Message', new_message_path, class: 'btn btn-primary btn-lg' %>
