<% provide(:title, 'Message destroyed') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center" id="destroyedMsgHeader">
      <h1 class="message">Message destroyed ... :(</h1>
    </div>
    <p class="description">
      If you haven't read this message it means someone else has.
    </p>
    <p class="description">
      If you read it but forgot to write it down,
      then you need to ask whoever sent it to re-send it.
    </p>
  </div>
</div>
