<%= form_with(model: note, local: true) do |form| %>
  <%= render 'shared/error_messages', object: note %>

  <div class="form-group">
    <%= form.text_area :text, size: '1x5' , class: 'form-control', placeholder: 'Write your text here . . .' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create note', class: 'btn btn-primary btn-lg center-block' %>
  </div>
<% end %>
