<% provide(:title, 'Note created') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
      <h1 class="message">Note successfully created!</h1>
      <br />
      <p class="description">
        You can found it on this link:
        <%= link_to note_url(@note), @note, target: :blank %>
      </p>
    </div>
  </div>
</div>
