<% provide(:title, "Note ##{@note.id}") %>

<div class="text-center">
  <h1>Note contents</h1>
  <h4 class="message">(This note was destroyed. If you need to keep it, copy it before closing this window)</h4>
  <hr/>
  <h4><%= @note.text %></h4>
</div>
