@import "bootstrap-sprockets";
@import "bootstrap";

textarea {
  resize: none;
}

.message {
  color: GoldenRod;
}

.description {
  font-size: 20px;
}

#destroyedMsgHeader {
  padding-bottom: 30px;
}
